{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function () {
  console.log('hello')
  $('.nav-link-home').addClass('link-active');
});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24988729-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24988729-2');
</script>

<div class="container">

  <blockquote>
    <p>A work is finished when we can no longer improve it, though we know it to be inadequate and incomplete.</p>
    <footer>Emil Cioran</footer>
  </blockquote>

</div><!-- /.container -->


{% endblock %}


